.contenlogin{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 380px;
}

.formlogin{
    background-color: #546e7a;
    opacity: 0.6;
}

.cHead{
    vertical-align: middle;
    text-align: center;
}
